label {
  color: var(--nord1);
}

.modal {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal-main {
  background: white;
  border-radius: 5px;
  color: var(--nord1);
  height: auto;
  left: 50%;
  max-width: 750px;
  min-height: 250px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.modal-main h2 {
  margin: 1em;
}

.modal-main .closeBtn {
  position: absolute;
  right: 15px;
  top: 8px;
}

.fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2em auto;
  max-width: 560px;
  padding: 0 3em;
}

.fields label {
  flex-basis: 150px;
  font-size: 1.15em;
  margin: 0 20px 0.5em 0;
}

.fields input[type="email"],
.fields input[type="text"],
.fields input[type="password"] {
  flex-grow: 2;
  margin-bottom: 0.5em;
  min-width: 60%;
}

form input[type="submit"] {
  position: absolute;
  right: 3em;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
