@import "base";

.nav {
  background-color: $nord0;
  color: $nord6;
  display: grid;
  grid-template-columns: 100px 200px 1fr;
  position: fixed;
  z-index: 1;
  right: 0;
  top: 0;
  height: 75px;
  width: 100%;

  &__logo {
    align-self: center;
    justify-self: start;
    margin: 10px;
    max-width: 70px;
  }

  &__heading {
    align-self: center;
  }

  &__links {
    align-self: center;
    grid-column: 3;
    grid-row: 1;
    justify-self: end;
    margin-right: 40px;
  }

  &__btn {
    background-color: transparent;
    border: none;
    color: $nord6;
    cursor: pointer;
    font-size: 1em;
    margin: 0 20px;
  }
}

.form {
  padding: 20px;
  height: calc(100% - 40px);
  position: relative;
  text-align: center;
  width: calc(100% - 40px);

  &__fields {
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
  }

  &__btn {
    background-color: $nord8;
    border: none;
    border-radius: 5px;
    bottom: 20px;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    padding: 7px 10px;
    position: absolute;
    right: 20px;
  }

  &--auth {
  }
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  margin: 0;
  padding-top: 75px;
  width: 150px;
  background-color: $nord1;

  &__links {
    list-style-type: none;
    margin: 25px 0;
  }

  &__link {
    color: $nord4;
    text-decoration: none;

    &--active {
      color: $nord8;
    }
  }
}

.dashboard {
  width: calc(100vw - 240px);
  height: calc(100vh - 100px);
  padding-left: 240px;
  padding-top: 100px;

  &__heading {
    text-align: left;
    margin-bottom: 0;
  }

  &--home {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 1fr;
  }
}

.card {
  background-color: #fff;
  box-shadow: 10px 10px 20px $nord4;
  width: 500px;
  height: 250px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 200px;

  &__heading {
    text-align: center;
    margin: 0;
    align-self: end;
  }

  &--start {
    justify-self: center;
    align-self: start;
  }

  &--auth {
    align-self: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 20px 20px 20px $nord4;
    margin: 0 20px;
    max-width: 400px;
  }
}
