@import "base";

.nav {
  background-color: $nord0;
  color: $nord6;
  display: grid;
  grid-template-columns: 100px 200px 1fr;
  height: 75px;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;

  &__logo {
    align-self: center;
    justify-self: start;
    margin: 10px;
    max-width: 70px;
  }

  &__heading {
    align-self: center;
  }

  &__links {
    align-self: center;
    grid-column: 3;
    grid-row: 1;
    justify-self: end;
    margin-right: 40px;
  }

  &__btn {
    background-color: transparent;
    border: none;
    color: $nord6;
    cursor: pointer;
    font-size: 1em;
    margin: 0 20px;
  }
}

.form {
  height: calc(100% - 40px);
  padding: 20px;
  position: relative;
  text-align: center;
  width: calc(100% - 40px);

  &__fields {
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    display: grid;
    grid-auto-rows: -webkit-min-content;
    grid-auto-rows: min-content;
    grid-template-columns: 1fr 1fr;
  }

  &__btn {
    background-color: $nord8;
    border: none;
    border-radius: 5px;
    bottom: 20px;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    padding: 7px 10px;
    position: absolute;
    right: 20px;
  }
}

.sidebar {
  background-color: $nord1;
  height: 100%;
  left: 0;
  margin: 0;
  padding-top: 75px;
  position: fixed;
  top: 0;
  width: 150px;

  &__title {
    color: $nord4;
    border-bottom: 1px solid $nord4;
    margin: 0 0 0.25em;
    padding-bottom: 0.25em;
  }

  &__links {
    list-style-type: none;
    margin: 25px 0 0 0;
  }

  &__link {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    color: $nord4;
    cursor: pointer;
    font-size: 1em;
    margin: 0;
    outline: transparent;
    padding: 0;
    text-decoration: none;

    &--active {
      color: $nord8;
    }

    &--dropdown {
      background-color: $nord0;
      border-radius: 5px 0 0 5px;
      display: block;
      margin-top: 5px;
      padding: 10px 30px;
      width: calc(100% - 60px);
    }
  }
}

.dashboard {
  height: calc(100vh - 200px);
  padding: 100px 50px 100px 240px;
  width: calc(100vw - 290px);

  &__heading {
    margin-bottom: 0;
    text-align: left;
  }

  &--home {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 1fr;
  }

  &__tabs {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  &__tab {
    width: 100%;
    border: none;
    font-size: 1.2em;
    padding-bottom: 10px;
    margin-bottom: 10px;
    outline: none;
    cursor: pointer;

    &--active {
      border-bottom: 2px solid $nord9;
    }
  }

  &__content {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 10px 10px 20px $nord4;
    height: 100%;
    width: 100%;
  }
}

.settings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.5fr 0.5fr;
  padding: 0 20px;

  &__heading {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  &__btn {
    margin-left: 15px;
    background-color: transparent;
    color: $nord8;
    border: none;
    outline: none;
    padding: 0;
    font-size: .9em;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__payperiod {
    grid-column: 1/3;
    grid-row: 2/3;
  }
}

.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 10px 10px 20px $nord4;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 200px;
  height: 250px;
  width: 500px;

  &__heading {
    align-self: end;
    margin: 0;
    text-align: center;
  }

  &--start {
    align-self: start;
    justify-self: center;
  }

  &--auth {
    align-self: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 20px 20px 20px $nord4;
    margin: 0 20px;
    max-width: 400px;
  }
}