label {
  color: var(--nord1);
}

.float-container {
  border-bottom: solid 1px var(--nord3);
  padding: 0;
  position: relative;
}

.float-container input {
  border: none;
  font-size: 16px;
  outline: 0;
  padding: 16px 0 5px;
  width: 100%;
}

label {
  font-size: 16px;
  position: absolute;
  transform-origin: top left;
  transform: translate(0, 16px) scale(1);
  transition: all 0.1s ease-in-out;
}

.float-container.active label {
  transform: translate(0, 0px) scale(0.75);
}
