#page-container {
    display: grid;
    grid-template-rows: 300px 2fr;
    grid-template-columns: 1fr 1fr 1fr;
}

#page-container h1 {
    font-size: 3em;

    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    justify-self: center;
    align-self: center;
}

.card {
    grid-row: 2;
}
